/* Colors */

:root{
    --light-color: #fefefe;
    --orange-color: #F5851F;
    --yellow-color: #FFFDD0;

}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 1152px;
    margin: 0 auto;
    padding: 0 100px;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--orange-color);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 2px 30px;
    padding-right: 0;

    position: fixed;
    z-index: 200;
    width: calc(1152px - 150px);
    top: 30px;
}

.header .menu-items {
    display: flex;
    list-style: none;
}

.header .menu-items li {
    margin: 0 40px;
}

.header .menu-items li a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

a.btn,
button.btn {
    background-color: var(--orange-color);
    color: var(--light-color);
    border-radius: 24px;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 400ms;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

a.btn:hover {
    transition: 500ms;
    transform: scale(1.2);
}

/* side-btn */
.side-btn {
    float:none; 
    position: fixed; 
    right: -2px; 
    top: 25%; 
    display: block; 
    z-index: 20000;
}


/* hero-section */
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */
    
    /* Background styles */
    background-image: url(/images/DoctorAppoinment.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 500px;
    margin-bottom: 0.5em;
}

.hero h2{
    margin-left:200px;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 300px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; /* CHANGE THIS LINE */
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white; /* CHANGE THIS LINE */
    border-radius: 20px;
}

/* Main Services Section */

section h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: var(--orange-color);
    margin-bottom: 10px;
    text-align: center;
    padding-top: 30px;
}

.services .services-items {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 18px;
    margin-bottom: 42px;
    padding-left: 250px;
}

.services .services-items img{
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    background: var(--light-color);
    padding: 20px 25px;
    margin-top: 0px;
}

/* Testimonials Section */

.slide-container {
    display: flex; 
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

.slide-container .content {
    padding: 8px 24px;
}

.doctor .name {
    background: var(--orange-color);
    color: var(--light-color);
    padding: 8px 24px;
    display: inline-block;
    margin-left: 16px;
}

.slide-container img{
    width: 250px;
    height: auto;
}

.slide-container p{
    padding: 50px;
}

.doctors-container {
    position: relative;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 68px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    cursor: pointer;
}

.slider-next {
    right: 0;
}








/* Contact Us page */
/* Contact Section */
.contact-section h2{
    margin-top: 80px;
}

.contact-section .contact-content{
    display:flex;
    
}

.customerService {
    width:500px;
    height: auto;
}

input[type="text"],
textarea {
    padding: 16px 30px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.11);
    border-radius: 24px;
    background: var(--light-color);
    border: 1px solid var(--dark-color);
    font-family: "Roboto", sans-serif;
    flex: 1;
    margin-bottom: 40px;
    width:500px;
}

/* Location */

.location-content {
    padding: 40px 0px;
}

/* Get In Touch */
.get-in-touch img{
    width: 1000px;
    height: auto;
}




/* General Inquiry page */
/*  */

.inquiry h2{
    margin-top: 100px;
}

.inquiry .questions-content {
    display: flex;
    margin-left: 400px;
}

.questions summary{
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 13px;
    color:var(--light-color);
    background-color: var(--orange-color);
}

summary {
    font-weight: bold;
    padding: 15px;
}




/* News & Events */
/*  */

.news-content h2{
    margin-top: 100px;
}

.imagesNews,
.imagesNews2 {
    padding: 40px 450px;
}